<%- include ("partials/header.ejs"); %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<ul class="Posts">
  <% posts.forEach(function (post) { %>
  <li class="timeline-yellow">
    <div class="timeline-time">
      <span
        class="time"
        style="
          font-weight: 700;
          font-size: 25px;
          line-height: 20px;
          text-align: left;
        "
      >
        <h1><%= post.Title %></h1>
      </span>
      <p>
        <span class="date" style="text-align: left"> <%= post.Body %> </span>
      </p>
    </div>
  </li>
  <% }); %>
</ul>

<%- include ("partials/footer.ejs"); %>
